---
import CreatedWithSection from "../../components/CreatedWithSection.astro";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Body from "../../components/Body.astro";
import Content from "../../components/Content.astro";
import Footer from "../../components/Footer.astro";
import Masthead from "../../components/Masthead.astro";
import PostsList from "../../components/PostsList.astro";
import Link from "../../components/_UI/Link.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import ShowOutOfUseEquipments from "../../components/ShowDeprecatedEquipments";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[76px]">
      <Masthead />
      <Content>
        <section>
          <p class="mb-8 indent-4">
            This blog was conceived with the purpose of sharing my setup and
            improving my skills with some recent technologies. Currently, I work
            as a software developer, more specifically as Full Stack, and in my
            free time, I like to play games to unwind. This way, most of my day
            is spent in front of the computer, making my setup a crucial part of
            my routine. Additionally, I see this project as an exciting
            opportunity to follow the evolution of my skills as a developer and
            of my own setup. I would like to note that my inspiration to start
            this project came from indie developer <Link
              href="https://github.com/craftzdog"
              target="_blank">Craftzdog</Link
            >, who maintains the channels <Link
              href="https://www.youtube.com/@devaslife"
              target="_blank">devaslife</Link
            > and <Link
              href="https://www.youtube.com/@craftzdog"
              target="_blank">craftzdog</Link
            >.
          </p>
        </section>
        <section>
          <PostsList />
          <ShowOutOfUseEquipments client:load />
        </section>
        <CreatedWithSection />
      </Content>
    </main>
    <Footer />
  </Body>
</html>
