---
import { LiaLaughSquint } from "react-icons/lia/index.js";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Body from "../components/Body.astro";
import Content from "../components/Content.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-16">
      <h1 class="font-inter text-center font-bold text-3xl">What i use</h1>
      <Content className="">
        <section>
          <p class="text-center indent-4">
            Olá! Antes de qualquer coisa seja bem vindo ao meu blog!
          </p>
          <p class="mb-8 indent-4">
            Esse blog foi criado com o intuito de compartilhar meu setup e
            treinar minhas habilidades com algumas tecnologias recentes.
            Atualmente eu trabalho como desenvolvedor de software, mais
            especificamente como Full Stack, e nas horas vagas finjo que sou
            gamer 😂, sendo assim maior parte do meu dia eu fico sentado na
            frente do computador, tornando meu setup parte importante da minha
            vida atualmente. Além de que acho que como projeto pessoal vai ser
            interessante acompanhar a evolução de minhas skills como
            desenvolvedor e do meu setup em si. Também gostaria de deixar
            registrado que me inspirei no desenvolvedor indie <a
              class="text-purple-400"
              href="https://github.com/craftzdog"
              target="_blank">Craftdogz</a
            > que possui o canal <a
              class="text-purple-400"
              href="https://www.youtube.com/@devaslife"
              target="_blank">devaslife</a
            > para iniciar esse projeto.
          </p>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
