---
import { Image } from "astro:assets";
import { getUrlLocale, useTranslate } from "../i18n/utils";

const locale = getUrlLocale(Astro.url);
const t = useTranslate(locale);
const base = import.meta.env.BASE_URL;
---

<section>
  <h2
    class="font-mono font-bold text-xl my-4 underline underline-offset-4 decoration-zinc-400 dark:decoration-zinc-700 decoration-4"
  >
    {t("createdWith.title")}
  </h2>
  <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <li class="text-center mb-4">
      <a href="https://obsidian.md/" target="_blank">
        <Image
          class="border border-slate-300 dark:border-zinc-700 rounded-xl"
          src={`${base}obsidian-banner.png`}
          width={720 * 2}
          height={500 * 2}
          alt="Obsidian banner"
        />
        <div class="mt-3 text-xl">Obsidian</div>
        <div class="opacity-70">{t("createdWith.obsidianDescription")}</div>
      </a>
    </li>
    <li class="text-center mb-4">
      <a href="https://astro.build/" target="_blank">
        <Image
          class="border border-slate-300 dark:border-zinc-700 rounded-xl"
          src={`${base}astro-banner.png`}
          width={720 * 2}
          height={500 * 2}
          alt="Astro banner"
        />
        <div class="mt-3 text-xl">Astro</div>
        <div class="opacity-70">{t("createdWith.astroDescription")}</div>
      </a>
    </li>
  </ul>
</section>
