---
import DropdownMenu from "./DropdownMenu";
import HeaderLink from "./HeaderLink.astro";
import ThemeToggleButton from "./ThemeToggleButton.tsx";
import { PORTFOLIO_URL, TWITTER_URL, GITHUB_URL, REPO_URL } from "../consts";
import {
  IoCodeSlash,
  IoLogoGithub,
  IoLogoTwitter,
} from "react-icons/io5/index.js";
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md font-fira-code">
  <nav class="flex items-center justify-between">
    <h2
      class="font-semibold tracking-tighter p-2 font-fira-code text-lg leading-none"
    >
      <a class="no-underline inline-flex items-center gap-2" href="/">
        <IoCodeSlash style={{ fontSize: "1.7rem" }} />
        Gildo Junior
      </a>
    </h2>
    <div class="items-center gap-6 hidden md:flex">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href={PORTFOLIO_URL}>Sobre</HeaderLink>
      <HeaderLink
        class="inline-flex items-center gap-2"
        href={REPO_URL}
        target="_blank"
      >
        <IoLogoGithub /> Código
      </HeaderLink>
    </div>
    <div class="flex items-center gap-3 px-2">
      <a
        class="inline-block text-black dark:text-white no-underline"
        href={TWITTER_URL}
        target="_blank"
      >
        <span class="sr-only">Follow Me on Twitter</span>
        <IoLogoTwitter style={{ fontSize: "2rem" }} />
      </a>
      <a
        class="inline-block text-black dark:text-white no-underline"
        href={GITHUB_URL}
        target="_blank"
      >
        <span class="sr-only">Go to my Github</span>
        <IoLogoGithub style={{ fontSize: "2rem" }} />
      </a>
      <ThemeToggleButton client:visible />
      <DropdownMenu client:visible />
    </div>
  </nav>
</header>
