---
import HeaderLink from "./HeaderLink.astro";
import ThemeToggleButton from "./ThemeToggleButton.tsx";
import { PORTFOLIO_URL, TWITTER_URL, GITHUB_URL } from "../consts";
import {
  IoCodeSlash,
  IoLogoGithub,
  IoLogoTwitter,
} from "react-icons/io5/index.js";
---

<header class="fixed w-full pq2 z-20 backdrop-blur-md font-inter">
  <nav class="flex items-center justify-between">
    <h2 class="font-semibold tracking-tighter p-2 font-inter text-lg">
      <a class="no-underline inline-flex items-center gap-2" href="/">
        <IoCodeSlash style={{ fontSize: "1.7rem" }} />
        Gildo Junior
      </a>
    </h2>
    <div class="items-center gap-6 hidden md:flex">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="md:flex hidden">
      <ThemeToggleButton client:load />
      <HeaderLink href={PORTFOLIO_URL} target="_blank">
        <span class="sr-only">Meu portfolio pessoal</span>
        <IoCodeSlash style={{ fontSize: "2rem" }} />
      </HeaderLink>
      <HeaderLink href={TWITTER_URL} target="_blank">
        <span class="sr-only">Follow Me on Twitter</span>
        <IoLogoTwitter style={{ fontSize: "2rem" }} />
      </HeaderLink>
      <HeaderLink href={GITHUB_URL} target="_blank">
        <span class="sr-only">Go to my Github</span>
        <IoLogoGithub style={{ fontSize: "2rem" }} />
      </HeaderLink>
    </div>
  </nav>
</header>
