<section class="relative mb-6 h-80 flex justify-center items-center">
  <div class="absolute w-full h-full overflow-hidden">
    <video
      class="absolute h-auto left-1/2 top-1/2 min-w-full min-h-full object-cover -translate-x-1/2 -translate-y-1/2 opacity-30"
      poster="/uses/masthead-poster.png"
      autoplay="autoplay"
      muted="muted"
      loop="loop"
      playsinline
    >
      <source
        src="https://www.dropbox.com/scl/fi/x62x1ort0evn11jayrhjr/masthead.webm?rlkey=c8i0fh11sdercwuycg47xd807&raw=1"
        type="video/webm; codecs=vp9"
      />
      <source
        src="https://www.dropbox.com/scl/fi/x62x1ort0evn11jayrhjr/masthead.mp4?rlkey=c8i0fh11sdercwuycg47xd807&raw=1"
        type="video/mp4"
      />
    </video>
  </div>
  <div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
    <div class="uppercase text-sm mb-4">Bem vindo a</div>
    <div class="text-4xl font-fira-code font-medium">
      Lista de hardware e perifericos que
      <span class="text-purple-500">utilizo</span>
    </div>
  </div>
</section>
